<article class="w-72 m-3">
  <div class="flex items-center justify-between bg-gray-100 rounded p-3 group">
    <h5 class="font-medium text-md items-center">{{ _section.label }}<span class=" ml-2 text-xs text-gray-500">{{_section.position}}</span></h5>
    <div class="flex items-center">
      <button  (click)="toggleFormUpdateSection()" class="mr-2"><fa-icon [icon]="faPencilAlt" class="text-xs text-cyan-700 hover:text-cyan-900 hidden group-hover:flex"></fa-icon></button>
      <button  (click)="deleteSection()" class="mr-2"><fa-icon [icon]="faTrashAlt" class="text-xs text-red-500 hover:text-red-700 hidden group-hover:flex"></fa-icon></button>
      <button (click)="toggleFormCreateCard()"><fa-icon [icon]="faPlus" class="text-cyan-700"></fa-icon></button>
    </div>
  </div>
  <div class="flex flex-col overflow-y-scroll">
    <app-card *ngFor="let card of _section.cards" [_card]="card"></app-card>
  </div>
</article>
<div *ngIf="showFormCreateCard" class="py-12 bg-gray-100 bg-opacity-50 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0">
  <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
    <form [formGroup]="formCreateCard" (ngSubmit)="submitCreateCard()" class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
      <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Nouvelle fiche</h1>
      <div class="input">
        <input
          class="input-text"
          [ngClass]="{'input-text-error': (formCreateCard.get('label')?.invalid && (formCreateCard.get('label')?.dirty || formCreateCard.get('label')?.touched))}"
          id="label"
          type="text"
          formControlName="label"
          placeholder="Label *"
        />
        <div *ngIf="formCreateCard.get('label')?.invalid && (formCreateCard.get('label')?.dirty || formCreateCard.get('label')?.touched)"
             class="text-xs text-red-600">
          <span *ngIf="formCreateCard.get('label')?.errors?.['required']">Ce champ est requis.</span>
          <div *ngIf="formCreateCard.get('label')?.errors?.['minlength']">La taille minimum est de 3 caractères.</div>
          <div *ngIf="formCreateCard.get('label')?.errors?.['maxlength']">La taille maximum est de 16 caractères.</div>
        </div>
      </div>
      <div class="input">
        <input
          class="input-text"
          id="endDate"
          type="date"
          formControlName="endDate"
          placeholder="Date de fin"
        />
      </div>
      <div class="input">
        <input
          class="input-text"
          id="estimatedTime"
          type="number"
          formControlName="estimatedTime"
          placeholder="Temps estimé en minute"
        />
      </div>
      <div class="input">
        <input
          class="input-text"
          id="url"
          type="text"
          formControlName="url"
          placeholder="URL"
        />
      </div>
      <div class="input">
        <input
          class="input-text"
          id="note"
          type="text"
          formControlName="note"
          placeholder="Note"
        />
      </div>
      <div class="flex items-center justify-start w-full">
        <button [disabled]="!formCreateCard.valid" type="submit" class="button button-primary">Créer</button>
        <button (click)="toggleFormCreateCard()" class="button button-secondary ml-3">Annuler</button>
      </div>
      <button (click)="toggleFormCreateCard()" class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600" aria-label="close modal" role="button">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </form>
  </div>
</div>
<div *ngIf="showFormUpdateSection" class="py-12 bg-gray-100 bg-opacity-50 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0">
  <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
    <form [formGroup]="formUpdateSection" (ngSubmit)="submitUpdateSection()" class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
      <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Mettre à jour : {{ _section.label }}</h1>
      <div class="input">
        <input
          class="input-text"
          [ngClass]="{'input-text-error': (formUpdateSection.get('label')?.invalid && (formUpdateSection.get('label')?.dirty || formUpdateSection.get('label')?.touched))}"
          type="text"
          formControlName="label"
          placeholder="Label"
        />
        <div *ngIf="formUpdateSection.get('label')?.invalid && (formUpdateSection.get('label')?.dirty || formUpdateSection.get('label')?.touched)"
             class="text-xs text-red-600">
          <span *ngIf="formUpdateSection.get('label')?.errors?.['required']">Ce champ est requis.</span>
          <div *ngIf="formUpdateSection.get('label')?.errors?.['minlength']">La taille minimum est de 3 caractères.</div>
          <div *ngIf="formUpdateSection.get('label')?.errors?.['maxlength']">La taille maximum est de 16 caractères.</div>
        </div>
      </div>
      <div class="input">
        <input
          class="input-text"
          [ngClass]="{'input-text-error': (formUpdateSection.get('position')?.invalid && (formUpdateSection.get('position')?.dirty || formUpdateSection.get('position')?.touched))}"
          type="number"
          formControlName="position"
          placeholder="Position"
        />
        <div *ngIf="formUpdateSection.get('position')?.invalid && (formUpdateSection.get('position')?.dirty || formUpdateSection.get('position')?.touched)"
             class="text-xs text-red-600">
          <span *ngIf="formUpdateSection.get('position')?.errors?.['required']">Ce champ est requis.</span>
        </div>
      </div>
      <div class="flex items-center justify-start w-full">
        <button [disabled]="!formUpdateSection.valid" type="submit" class="button button-primary">Valider</button>
        <button (click)="toggleFormUpdateSection()" class="button button-secondary ml-3">Annuler</button>
      </div>
      <button (click)="toggleFormUpdateSection()" class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600" aria-label="close modal" role="button">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </form>
  </div>
</div>
